@import "/src/app/theme/variables.scss";

.local-header {
  width: 100%;
  height: $header-size;
  color: $background-primary-color;
  justify-content: start;
  padding-left: 2rem;
  display: flex;
  font-size: $font-size-big;
  align-items: center;

  .icon {
    font-size: $font-size-big;
    margin-right: 1rem;
  }
}
