@import "/src/app/theme/variables.scss";

.local-header {
  width: 100%;
  height: $header-size;
  background-color: $background-primary-color;
  color: $text-secundary-color;
  justify-content: center;
  display: flex;
  font-size: $font-size-big;
  align-items: center;

  .icon {
    font-size: $font-size-big;
    margin-right: 1rem;
  }
}
