$text-primary-color: #3d3d3d;

$line-color: rgba(82, 80, 80, 0.089);
$text-secundary-color: white;
$background-primary-color: #447fcd;

$font-size: 14pt;
$font-size-big: 22pt;

$header-size: 3 * $font-size-big;

$highlight-font: url("assets/fonts/Anton-Regular.ttf");
