@import "/src/app/theme/variables.scss";

body {
  margin: 0;
  color: $text-primary-color;
  font-size: $font-size;
}

@font-face {
  font-family: "highlight";
  src: $highlight-font;
}

.app-text-high-light {
  font-family: "highlight";
  letter-spacing: 0.25rem;
}
