<p-table
  [value]="value || []"
  [responsive]="true"
  styleClass="p-datatable-striped"
  [paginator]="true"
  [rows]="10"
>
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let header of headers">
        <div class="flex justify-content-center">{{ header.title }}</div>
      </th>
    </tr>
  </ng-template>
  <ng-template pTemplate="body" let-row>
    <tr>
      <td *ngFor="let header of headers">
        <div class="p-column-title">
          <span style="font-weight: bold">{{ header.title }}:</span>
        </div>
        <div style="text-align: center">
          {{ row[header.keyName] }}
        </div>
      </td>
    </tr>
  </ng-template>
</p-table>
